name: brew pr-pull

on:
  workflow_dispatch:
    inputs:
      pull_request:
        description: Pull request number
        type: number
        required: true

jobs:
  pr-pull:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      checks: read
      contents: write
      issues: read
      pull-requests: write
    steps:
      - name: Ensure PR has been merged
        run: |
          gh pr view "$PULL_REQUEST" --repo "$GITHUB_REPOSITORY" --json state \
            | jq -e 'select(.state == "MERGED")'
        env:
          PULL_REQUEST: ${{ github.event.inputs.pull_request }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Create PR branch
        run: git checkout -b "publish.yml/pr-$PULL_REQUEST"
        env:
          PULL_REQUEST: ${{ github.event.inputs.pull_request }}

      - name: Pull bottles
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PULL_REQUEST: ${{ github.event.inputs.pull_request }}
        run: |
          brew pr-pull --debug \
            --tap="$GITHUB_REPOSITORY" \
            --branch-okay "$PULL_REQUEST" \
            --no-cherry-pick

      - name: Push commits
        uses: Homebrew/actions/git-try-push@main
        with:
          branch: "publish.yml/pr-${{ github.event.inputs.pull_request }}"

      - name: Create pull request
        run: |
          gh pr create --repo "$GITHUB_REPOSITORY" \
            --title "Publish bottles for PR #${PULL_REQUEST}" \
            --body "Created automatically by publish.yml" \
            --head "publish.yml/pr-${PULL_REQUEST}" --base main
        env:
          PULL_REQUEST: ${{ github.event.inputs.pull_request }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
