name: Upload bottles to release
on:
  pull_request_target:
    types:
      - closed
  workflow_dispatch:
    inputs:
      pull_request:
        description: "The pull request number to upload bottles for"
        required: true
        type: number

jobs:
  upload-bottles:
    if: ${{ github.event_name == 'workflow_dispatch' || (github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'publish-to-tap')) }}
    runs-on: ubuntu-latest
    permissions:
      actions: read
      checks: read
      contents: write
      issues: read
      pull-requests: read
    env:
      PULL_REQUEST: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.pull_request || github.event.pull_request.number }}
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Find workflow run
        id: find_run
        run: |
          merge_commit=$(gh pr view "$PULL_REQUEST" --repo "$GITHUB_REPOSITORY" --json mergeCommit --jq '.mergeCommit.oid')
          if [[ -z "$merge_commit" ]]; then
            echo "Pull request #$PULL_REQUEST has no merge commit"
            exit 1
          fi
          git fetch origin +refs/pull/"$PULL_REQUEST"/head:local-pr-branch
          git checkout local-pr-branch
          last_human_commit=$(git log --format="%H %cn" | grep -v ' github-actions\[bot\]' | head -n1 | awk '{print $1}')
          if [[ -z "$last_human_commit" ]]; then
            echo "No human commits found anywhere (bug?)"
            exit 1
          fi
          if git merge-base --is-ancestor "$last_human_commit" "local-pr-branch" \
            && ! git merge-base --is-ancestor "$last_human_commit" "$merge_commit"
          then
            echo "Found last human commit $last_human_commit"
          else
            echo "No human commits found before merge commit $merge_commit"
            exit 1
          fi
          echo "last_human_commit=$last_human_commit" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Download bottles
        uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # v11
        with:
          workflow: tests.yml
          ref: ${{ steps.find_run.outputs.last_human_commit }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          name: ^bottles_.*
          name_is_regexp: true
          path: ./.publish-bottles
          allow_forks: true
          use_unzip: true
          merge_multiple: true

      - name: Upload bottles
        run: |
          cd .publish-bottles || exit 1
          brew pr-upload --debug --upload-only
        env:
          PULL_REQUEST: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.pull_request || github.event.pull_request.number }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
