name: Upload bottles to release
on:
  pull_request_target:
    types:
      - closed
  workflow_dispatch:
    inputs:
      bottling_commit:
        description: "The commit ID to upload bottles from"
        required: true

jobs:
  upload-bottles:
    if: ${{ github.event_name == 'workflow_dispatch' || (github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'publish-to-tap')) }}
    runs-on: ubuntu-latest
    permissions:
      actions: read
      checks: read
      contents: write
      pull-requests: read
    # This job has write permissions and checks out PR code on pull_request_target.
    # Repo write access on pull_request_target is implicitly trusted because of the publish-to-tap label.
    # On workflow_dispatch, PR code is not checked out.
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Unbork linuxbrew ruby install
        if: ${{ runner.os == 'Linux' }}
        run: sudo chmod +t /home/linuxbrew/.linuxbrew/Homebrew/Library/Homebrew/vendor/bundle/ruby

      - name: Set up Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Find workflow run
        id: find_run
        if: ${{ github.event_name == 'pull_request_target' }}
        env:
          PULL_REQUEST: ${{ github.event.pull_request.number }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          merge_commit=$(gh pr view "$PULL_REQUEST" --repo "$GITHUB_REPOSITORY" --json mergeCommit --jq '.mergeCommit.oid')
          if [[ -z "$merge_commit" ]]; then
            echo "Pull request #$PULL_REQUEST has no merge commit"
            exit 1
          fi
          # Security: do not check out files from local-pr-branch
          git fetch origin +refs/pull/"$PULL_REQUEST"/head:local-pr-branch
          last_human_commit=$(git log local-pr-branch --format="%H %cn" | grep -v ' github-actions\[bot\]' | head -n1 | awk '{print $1}')
          if [[ -z "$last_human_commit" ]]; then
            echo "No human commits found anywhere (bug?)"
            exit 1
          fi
          if git merge-base --is-ancestor "$last_human_commit" "local-pr-branch" \
            && ! git merge-base --is-ancestor "$last_human_commit" "$merge_commit"
          then
            echo "Found last human commit $last_human_commit"
          else
            echo "No human commits found before merge commit $merge_commit"
            exit 1
          fi
          echo "last_human_commit=$last_human_commit" >> "$GITHUB_OUTPUT"

      - name: Download bottles
        uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # v11
        with:
          workflow: tests.yml
          ref: ${{ github.event_name == 'pull_request_target' && steps.find_run.outputs.last_human_commit || github.event.inputs.bottling_commit }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          name: ^bottles_.*
          name_is_regexp: true
          path: ./.publish-bottles
          allow_forks: true
          use_unzip: true
          merge_multiple: true

      - name: Upload bottles
        run: |
          cd .publish-bottles || exit 1
          brew pr-upload --debug --upload-only
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
